/*
    JMP Numbers That Are Blocked or Not
    Copyright (C) 2022  Maxime V.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #141516;
    color: #fff;
    transition: 0.5s;
}

p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.mainContent {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    place-content: center;
    margin: auto;
    padding: 20px;
}

.mainContent div {
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: stretch;
}

.mainContent div a {
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
}

.howToUseLegend {
    width: 70vmin;
}

.howToUseLegend li {
    text-align: left;
}

.howToUseLegend ul {
    display: table;
    margin: 0 auto;
}

/* si la taille d'écran est moins de 600px */
@media screen and (max-width: 600px) {
    body {
        width: 100%
    }

    .mainContent {
        margin-top: 3vh;
        grid-template-columns: auto;
    }
}

/* MODE SOMBRE AUTOMATIQUE, DOIT RESTER EN BAS */
@media (prefers-color-scheme: light) {
    body {
        background-color: #f1f1f1;
        color: #353535;
    }
}